.product-window {
    display: flex;
    height: 100dvh;
}

.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: clamp(300px, 90vw, 1200px);
    margin: auto;
    color: var(--text-primary);
}

@media (max-width: 968px) {
    .product-detail {
        grid-template-columns: 1fr;
        padding: 5.5rem;
    }
}

.product-detail-image img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 12px var(--shadow-medium);
    background-color: var(--bg-card);
    padding: 1rem;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.product-detail-info h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--text-primary);
}

.product-detail-description {
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.5;
}

.product-detail-price {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--text-accent);
}

.product-detail-button {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    background-color: var(--text-accent);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-detail-button:hover {
    background-color: var(--text-accent-hover);
}
